.file-upload {
  border: 1px solid #901108; }

section.container {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.catloc-div {
  background-color: #901108; }

.catloc-div input, .catloc-div select {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 0px;
  border: none; }

.post_ad .card-header {
  color: #901108;
  text-transform: uppercase;
  font-size: 18px; }

.label-font {
  font-size: 14px;
  color: #901108;
  letter-spacing: 2px; }

.image-header {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #901108; }

.post_ad input[type="text"], .post_ad input[type="email"], .post_ad input[type="tel"], .post_ad select {
  font-size: 14px;
  letter-spacing: 1px;
  height: 44px; }
  .post_ad input[type="text"]:focus, .post_ad input[type="email"]:focus, .post_ad input[type="tel"]:focus, .post_ad select:focus {
    outline: none;
    border: 1px solid #901108; }

#chooseFile {
  margin: 5px;
  font-size: 14px; }

.SubmitForReview {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
  color: #fff;
  background-color: #901108;
  border: none;
  border-radius: 0px;
  margin-top: 10px;
  padding: 6px 28px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
